html,
body {
  background: #f0934b;
  margin: 0;
  height: 100%;
}
header {
  margin: 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
  margin: 0;
}

button[type="submit"] {
  background-color: #b37445;
  color: #fff;
  border: none;
  outline: 0;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  margin-left: 2rem;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
button[type="submit"]:hover {
  color: #fff;
  cursor: pointer;
  background-color: rgb(211, 147, 98);
}
button[type="submit"]:focus {
  color: #fff;
}
input[type="checkbox" i] {
  background-color: red;
  cursor: pointer;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 8px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
}
input[type="text"] {
  padding: 0.6rem;
  font-size: 1rem;
  color: rgb(85, 84, 84);
  border-radius: 5px;
  border: 1px solid #b1afaf;
}
input[type="text"]:focus {
  outline: 0;
}
input[type="text"]::placeholder {
  color: rgb(126, 126, 126);
}
#value {
  width: 100%;
}
.control {
  width: 85%;
}
#container-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#title {
  padding: 1rem;
  background-color: #c7c6c6;
  color: #fff;
  text-align: center;
}
#title h1 {
  font-size: 1.4rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
}
.field {
  margin-top: 0.8rem;
}

.input-filter {
  width: 30%;
  margin-bottom: 0.5rem;
}
.form {
  margin: 50px auto;
  width: 50%;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem 2rem 2rem 2rem;
  box-shadow: 0 7px 7px #b37445, 7px 7px 7px #b37445;
}

.tasks {
  display: flex;
  flex-direction: column;
}

.container-task {
  margin-top: 0.8rem;
  padding: 0.2rem;
  text-align: left;
  width: 100%;
  background-color: #777777;
}
.name-task {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.1rem;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  line-height: 2;
}
.logo {
  font-family: "Arial", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #f0934b;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: rotate(3deg);
  display: inline-block;
}
.tag {
  transition: all 0.3s;
  animation-timing-function: ease;
}

.tag,
#button-logout button:hover {
  /* transform: scale(1.05); */
  cursor: pointer;
}
#button-logout button {
  color: #fff;
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: red;
}

@media (max-width: 720px) {
  .form {
    width: 300px;
  }
}
@media (max-width: 1023px) {
  .navbar-menu {
    display: flex;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .logo {
    font-size: 20px;
  }
}
